@import "tailwindcss";

:root {
  --background: #F5EBDD;
  --foreground: #3B2416;

  --primary: #C96A2B;
  --secondary: #294A3A;

  --text: #3B2416;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
}


body {
  background: var(--background);
  color: var(--text);

  font-family:
    Arial,
    Helvetica,
    sans-serif;

  overflow-x: hidden;
}


a {
  color: inherit;
  text-decoration: none;
}


img {
  max-width: 100%;
  display: block;
}


.container {
  width: min(1280px, 92%);
  margin: auto;
}